

  .section-project {
    margin: 0;
    font-family: "Merienda", cursive;
    width: 60vw;
    height: 77vh;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    transition: background-color 5s ease;
    width: 80%;
    box-sizing: border-box;
  }

 
  .section:nth-of-type(even) {
    background-color: #444;
  }
  
  section ul{
    margin: 0 0 10px 0;
  }
  
  .carousel {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: 0;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 1s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    height: 400px;
    box-sizing: border-box;
    margin: 0%;
    text-align: center;
  }

.section-project img{
    height: 300px;
    width: 100%;
    margin: 0%;
  }

  .carousel-item h3{
    margin: 0;
  }
  
  .carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }