.board{
    margin: 0;
    background: url('/board.png') center/cover;
    min-width: 90%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}